.border-style {
    border: 1px solid red; 
    /* border-top-color: red;
    border-top-style: none;
    border-top-width: 10px;

    border-right-color: blue;
    border-right-style: solid;
    border-right-width: 1px;

    border-bottom-color:green;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px; */
}